<a href="{{ url }}" class="atrium-city-card group">
  <div class="atrium-city-media">
    <img src="{{ if image }}{{ image:url }}{{ else }}/assets/images/event-venue-20.jpg{{ /if }}" alt="{{ title }}">
    <span class="atrium-city-count">{{ events_count ?? 4 }} Events</span>
  </div>
  <div class="atrium-city-body">
    <h3>{{ title }}</h3>
    {{ if description }}
    <p>{{ description | strip_tags | truncate:92 }}</p>
    {{ /if }}
    <span class="atrium-city-link">View halls <i class="fa-regular fa-arrow-right"></i></span>
  </div>
</a>
