{{ partial:inner-banner :banner_title="title" :banner_image="image:url" }}
<section>
  <div class="container max-w-3xl">
    <span class="text-12 text-dark-800">{{ date format="M j, Y" }}</span>
    <h2 class="mb-6">{{ title }}</h2>
    <div class="mb-8 rounded-2xl overflow-hidden">
      <img src="{{ if image }}{{ image:url }}{{ else }}/assets/images/blog-img1.jpg{{ /if }}" alt="{{ title }}" class="w-full">
    </div>
    <div class="leading-1xl">
      {{ content }}
    </div>
  </div>
</section>
