<section class="testimonial-section py-10 md:py-16 relative">
  <div class="container">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-2/5">
        <div class="md:max-w-[406px]">
          <h2>{{ heading }}</h2>
          {{ if description }}<p>{{ description }}</p>{{ /if }}
        </div>
      </div>
      <div class="testimonial-slider w-full md:w-3/5 lg:pl-14">
        <div class="slider-arrow">
          <div class="swiper-button-prev arrow"></div>
          <div class="swiper-button-next arrow static m-0"></div>
        </div>
        <div class="swiper mySwiper py-5 px-3">
          <div class="swiper-wrapper">
            {{ collection:testimonials }}
            <div class="swiper-slide">
              <div class="shadow-card-3 p-5 bg-white rounded-4xl">
                <div class="flex items-center space-x-1 text-yellow-900 mb-5">
                  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p class="text-dark-900 text-md mb-10">“{{ quote }}”</p>
                <div class="flex border-t border-gray-100 pt-3">
                  <figcaption class="flex justify-center items-center space-x-3">
                    {{ photo }}<img class="w-10 h-10 rounded-full shrink-0" src="{{ url }}" alt="{{ title }}">{{ /photo }}
                    <div class="space-y-0.5 font-medium text-left">
                      <div class="text-dark-900 text-sm font-bold leading-normal">{{ title }}</div>
                      {{ if location }}<div class="text-10 font-light text-dark-800 leading-normal">{{ location }}</div>{{ /if }}
                    </div>
                  </figcaption>
                </div>
              </div>
            </div>
            {{ /collection:testimonials }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0">
    <img src="/assets/images/testimonial-left-img.svg" alt="">
  </div>
  <div class="absolute bottom-0 right-0">
    <img src="/assets/images/testimonial-right-img.svg" alt="">
  </div>
</section>
